.modal {
  position: fixed;
  top: 8vh;
  left: 50%;
  transform: translateX(-50%);
  z-index: 100;
  width: 85%;
  max-width: 600px;
  background: white;
  border-radius: 10px;
  margin: auto;
  margin-bottom: 0;
  padding: 1em 2em;
  box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px;
}

.total-amount {
  font-weight: 900;
  font-size: 1.4rem;
  display: flex;
  justify-content: space-between;
}

.total-amount p {
  margin: 0 0 1em 0;
}

.actions .btn {
  margin-left: 1em;
}

.actions {
  text-align: right;
  padding-right: 5px;
}
.list {
  list-style: none;
  padding: 0;
  max-height: 250px;
  overflow: scroll;
  overflow-x: hidden;
  box-shadow: rgb(236, 110, 110) 0px 0px 1px 0px;
}

.actions .closeBtn {
  background-color: white;
  color: brown;
  border: 1px solid brown;
}

.actions .closeBtn:hover {
  background-color: rgb(95, 24, 24);
  color: white;
}
