.item {
  border-bottom: 2px solid brown;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 1em 0.5em;
}

.title {
  margin: 0 0 0.5em 0;
}

.about {
  display: flex;
  justify-content: space-between;
  align-items: center;
  /* width : 100%; */
  width: 150px;
}

.price {
  font-weight: 900;
  color: brown;
  margin: 0;
}

.number {
  border: 1px solid rgb(158, 153, 153);
  text-align: center;
  padding: 0.1em 0.5em;
  font-size: 0.8rem;
  font-weight: 700;
  border-radius: 5px;
  box-shadow: rgba(0, 0, 0, 0.05) 0px 6px 24px 0px,
    rgba(0, 0, 0, 0.08) 0px 0px 0px 1px;
}

.button {
  background-color: white;
  border: 1px solid brown;
  color: brown;
  /* font: inherit; */
  padding: 0.2rem 1rem;
  margin-left: 0.6rem;
  border-radius: 8px;
  box-shadow: rgba(0, 0, 0, 0.16) 0px 1px 4px;
  font-weight: 700;
  font-size: 1.2rem;
  cursor: pointer;
}

.button:hover {
  background-color: brown;
  color: white;
}

