.button {
  font: inherit;
  padding: 0.3rem 1.6rem;
  color: white;
  background-color: brown;
  /* outline: none; */
  border: 1px solid brown;
  border-radius: 1em;
  cursor: pointer;
  box-shadow: rgba(0, 0, 0, 0.08) 0px 4px 12px;
}

.button:hover {
  background-color: rgb(95, 24, 24);
}

button:disabled,
button:focus:disabled,
button:hover:disabled,
button:active:disabled {
  background: #ccc;
  border-color: #ccc;
  color: #666666;
  cursor: not-allowed;
}
