.header {
  background-color: brown;
  padding: 1rem;
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  z-index: 10;
}

.container {
  display: flex;
  justify-content: space-between;
  width: 95%;
  max-width: 1200px;
  margin: auto;
}

.title {
  color: white;
  margin: 0;
}
