.card {
  transition: 0.1s;
  margin: 3em auto 0 auto;
  background: white;
  width: 95%;
  max-width: 850px;
  border-radius: 10px;
  margin-bottom: 0;
  padding: 1em 2em;
  box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px;
  animation: dishes-appear 0.5s ease-in forwards;
}

.dishesLoading {
  text-align: center;
  color: white;
}

.dishesError {
  text-align: center;
  color: red;
}

.dishes-ul {
  list-style: none;
  padding: 0;
}

.dishes-ul li:last-child {
  margin-bottom: 0;
  border: none;
  padding-bottom: 0;
}

@keyframes dishes-appear {
  from {
    opacity: 0;
    transform: translateY(2rem);
  }
  to {
    opacity: 1;
    transform: translateY(0);
  }
}
