.card {
  margin: 3em auto 0 auto;
}
.dishes-ul {
  list-style: none;
  padding: 0;
}

.dishes-ul li:last-child {
  margin-bottom: 0;
  border: none;
  padding-bottom: 0;
}

@media (min-width: 768px) {
  .card {
    transform: translateY(80px);
    margin: 0 auto;
  }
}
